<!DOCTYPE HTML>
<html>
<style>
body{margin:0px;}

</style>

<body>

</body>


<script src = "three.js"></script>
<script src = "scene.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

<script>
 var socket =  io('http://localhost:9000');

</script>

<script>

      socket.emit('testMessage', "hi");
    
 
</script>



</html>