<!DOCTYPE HTML>
<html>
<style>
body{margin:0px;}

</style>

<body>

</body>
<script>
mobile = true;
</script>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src = "three.js"></script>
<script src="stereo.js"></script>
<script src = "socketPhone.js"></script>
<script src="controls.js"></script>
<script src = "scene.js"></script>







</html>